
body{ 
    background:  rgb(36, 35, 35);
    width: 95vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-left: 412px;
    margin-top: 60px;
    text-shadow: 0 0 4px white;
}

.book{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin-left: 380px;
    
}

.empik{
    color: white;
    text-decoration:none;
    border: 4px solid white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom:4px;
    background: rgb(36, 35, 35);
    box-shadow: 0 0 10px 0 white;
    border-radius: 10px;

}

.empik:hover{
    box-shadow: 0 0 26px 0 white;
    color:rgb(36, 35, 35);
    background: white;
}

.tania{
    color: white;
    text-decoration:none;
    border: 4px solid white;
    background: rgb(36, 35, 35);
    box-shadow: 0 0 10px 0 white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.tania:hover{
    box-shadow: 0 0 26px 0 white;
    background: white;
    color: rgb(36, 35, 35);
}

.gandalf{
    color:white;
    text-decoration:none;
    border: 4px solid white;
    background: rgb(36, 35, 35);
    box-shadow: 0 0 10px 0 white;
    padding-top: 4px;
    padding-bottom:4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.gandalf:hover{
    box-shadow: 0 0 26px 0 white;
    color: rgb(36, 35, 35);
    background: white;
}

.img{
    width: 380px;
    height: 520px;
    margin-top: -220px;
    margin-left: 16px;
    box-shadow: 0 0 30px 0 white;
}

.powrót{
    font-size: 26px;
    color: white;
    border: 4px solid white;
    background: rgb(36, 35, 35);
    box-shadow: 0 0 10px 0 white;
    text-decoration:none;
    margin-left: 260px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.powrót:hover{
    box-shadow: 0 0 26px 0 white;
    background: white;
    color: rgb(36, 35, 35);
}

@media only screen and (max-width: 767px)  {
    .img{
        width: 320px;
        height: 460px;
        margin-top: 1px;
        margin-bottom: 40px;
        margin-left: 32px;
    }

    .title{
        margin-top: 12px;
        margin-left: 10px;
        font-size: 30px;
    }

    .book{
        font-size: 22px;
        margin-left: -36px;
    }

    .powrót{
        margin-left: 28px;
        
    }
    
    
    
    
}
